body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .6em;
    background-color: aliceblue;   
}

.text-center{
    margin-top: 50px;
    text-transform: uppercase;
}

/* main calculator area */
.calculator{
    height: 360px;
    width: 280px;
    background-color: #e8e8e8;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}
.main-bar{
    margin-bottom: 20px;
    text-align: right;
}
.btn{
    font-size: 20px;
    cursor: pointer;
    width: 50px;  
}
.line{
    margin-bottom: 10px;
}
.last input{
    width: 112px;
}
#inp{
    font-size: 20px;
    font-weight: 800;
}